

<form action="/profile" method="post">
<label>Enter your favorite Bowie Song:</label>
<input type="text" name="username" value="">
<button type="submit">You won't</button>
</form>


{{>picture}}

{{>paragraph}}

