<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div>
    <ul class="nav">
      <li><a href="http://localhost:9000/login/">Login</a>
      <li><a href="http://localhost:9000/help/">Help</a>

    </ul>
