body {
  background-image: linear-gradient(#dbce82, #71b6a3);
  margin: 0;
  padding: 0;
  font-family: 'Lekton', sans-serif;
  font-size: 16px;
}
.container {
  margin: 2%;
  width: 70%;
}
aside {
  background-image: linear-gradient(#71b6a3, #dbce82);
  padding: 2%;
  float: right;
  width: 21%;
  min-height: 400px;
  right: 3%;
  box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.75);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
header {
  top: 0;
  margin: 2%;
  color: #71b6a3;
}
footer {
  width: 100%;
  height: 50px;
  bottom: 0;
}
main {
  margin: 2%;
  min-height: 450px;
}
h1 {
  font-family: 'Faster One', monospace;
  font-size: 5em;
  margin: 0;
  padding: 0;
  color: #71b6a3;
  text-shadow: -3px 2px 1px #000000;
}
a {
  text-decoration: none;
  font-family: 'Lekton', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  color: ;
}
nav ul {
  width: 100%;
}
nav li {
  display: inline-block;
}
nav li:before {
  content: "// ";
  position: relative;
  left: -1px;
}
main ul {
  padding-left: 15px;
  margin-top: 10px;
}
ul li {
  list-style: none;
  margin-left: 0;
  padding-bottom: 10px;
}
main ul li:first-child {
  padding-bottom: 5px;
}
footer p {
  text-align: right;
  padding-right: 3%;
}
.blurb {
  color: black;
}
