
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#fullPageWidth {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}


#leftSideCol {
  width: 20vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
  font-weight: 600;
}

#leftBox {
  width: 15vw;
  height: 15vw;
  background-color: white;
  margin: 2vw auto;
}


.containerVertical {
  display: flex;
  flex-direction: column;
}





nav {
  width: 15vw;
  margin: 2vw auto;
  }

ul {
  padding: 0;
  list-style: none;
}

li {
  background-color: white;
  margin-bottom: 10%;
  width: 80%;
  height: 3vh;
}





#mainSection {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
  color: white;
  width: 50vw;
  height: 4vw;
  margin-top: 13vw;
}

#articleBox {
  background-color: black;
  color: white;
  flex-grow: 0;
  width: 80vw;
  height: 35vh;
  margin-top: 1vh;
}

#mainBody {
  width: 80vw;
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.bp {
  background-color: black;
  color: white;
  width: 25vw;
  height: 25vh;
  margin-right: 1vw;
}

.bp:lastchild {
  margin-right: 0;
}

footer {
  background-color: black;
  color: white;
  width: 70%;
  margin-top: 5%;
}

div, header, footer, li {
  border-radius: 5px;
}

p {
  margin-left: 1vw;
}
