@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  margin: 0;
  padding: 0;
  background-color:#E1BC29;
  font-family: 'Varela Round', sans-serif;
}

.container {
  display: flex;
  margin: 1% 5%;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;

}

p {
  padding: 0 20px;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
  color: #7768AE;
  border-radius: inherit;
  margin:0;

}

nav {
  color: #7768AE;
  border-radius: inherit;

}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
  background-color: #3BB273;
  height: 400px;
  border-radius: inherit;
  font-size: 18px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.moreContent {
  background-color: #7768AE;
  height: 200px;
  border-radius: inherit;
  margin-top:1%;
  margin-bottom:5%;
  width: 49%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 2px;
}

li:hover{
  color: #3BB273;
  cursor:pointer;
}
