<h1> About Us</h1>
<p>This......................is...............
  .......a....................blurb............
  ............about...........us..............
</p>
<br>
<h3>Questions? Submit them!</h3>
<br>
 <form action="/about/?" method="post">
  <!-- // the action is where we send post method. to server. -->
  <!--  looks for post method that lives at the '/login/?'' route -->
  First Name:<input type="text" name="first_name" value="">
  <br>
  Last Name: <input type="text" name="last_name" value="">
  <br>
  E-mail: <input type="text" name="email" value="">
  <br>
  Question: <input type="text" name="question" value="">
  <br>
  <input type="submit" value="Submit">
</form>
