<h1>Login Page!</h1>
<h3>Enter your information below!</h3>
 <form action="/login/?" method="post">
  <!-- // the action is where we send post method. to server. -->
  <!--  looks for post method that lives at the '/login/?'' route -->
  Username: <input type="text" name="user_name" value="">
  <br>
  Password: <input type="text" name="password" value="">
  <br>
  <input type="submit" value="Submit">
</form>
