<h1>Help us customize your experience!</h1>
<h3>Please fill out the survey below.</h3>
<form action="/survey/?" method="post">
  <!-- // the action is where we send post method. to server. -->
  <!--  looks for post method that lives at the '/login/?'' route -->
  Favorite Film: <input type="text" name="film" value="">
  <br>
  Favorite Film Director: <input type="text" name="director" value="">
  <br>
  Favorite Film Genre: <input type="text" name="genre" value="">
  <br>
  Favorite Actor: <input type="text" name="actor" value="">
  <br>
  Favorite Actress: <input type="text" name="actress" value="">
  <br>
  <input type="submit" value="Submit">
</form>
