<h1>Congrats, you are now a member of the coolest who knows what, ever!</h1>
<br>
<p>Now you can blah, blah, blah, blah, blah, blah.</p>
<p>Ready to start customizing your experience?</p>
<button type="button">Okay!</button> 
