<h1>About Page</h1>
{{>link}}


<form action="/about" method="post" accept-charset="utf-8">
	<label>Name: </label>
	<input type="text" name="name" value="">
	<label>Favorite NBA team: </label>
	<input type="text" name="team" value="">
	<button type="submit">submit</button>
</form>