<form action="/login" method="post" accept-charset="utf-8">
	<label>Username: </label>
	<input type="text" name="username" value="">
	<label>Password: </label>
	<input type="password" name="password" value="">
	<button type="submit">login</button>
</form>