<!DOCTYPE html>
<html>

<head>
  <title>Testing the Sinatra Server for Connectivity</title>
</head>

<body>
  <h1>H o m e p a g e</h1>

  <p>
    Sinatra is running the test page and we are connected.
  </p>

  <p>
    Showing a variable passed from ApplicationController: <%= passed %>
  </p>

  <p>
    Showing the instance variable from ApplicationController: <%= @instance %>
  </p>

  <p>
    Showing the local variable from ApplcicationController: <%= local_var %>
  </p>
</body>

</html>
