<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div class="nav">
  <ul class="siteNav">
    <li><a href="/?">Home</a></li>
    <li><a href="/login/?">Login</a></li>
    <li><a href="/about/?">About</a></li>
    <li><a href="/contact/?">Contact</a></li>
  </ul>
</div>
