<!DOCTYPE html>
<html>
<head>
  <title>July 22-24 Homework</title>
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">  
</head>
<body>
  <div>
  
    <h1>July 22-24 Homework</h1>
    <h2> Ben Austin's cool website B)</h2>
  </div>

<%= yield %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
