.container{
  display: flex;
}

.container1{
  display: flex;
  background: black;
  height: 600px;
  width:160px;
  flex-direction: column;
}



.item1:first-child{
  background:white;
  margin: 20px 20px 40px 20px;
  height: 120px;
  width: 120px;
}

.item1:nth-child(2){
  background:white;
  margin: 0px 20px 15px 20px;
  height: 12px;
  width: 100px;
}

.item1:nth-child(3){
  background:white;
  margin: 0px 20px 15px 20px;
  height: 12px;
  width: 120px;
}

.item1:nth-child(4){
  background:white;
  margin: 0px 20px 15px 20px;
  height: 12px;
  width: 90px;
}

.item1:nth-child(5){
  background:white;
  margin: 0px 20px 15px 20px;
  height: 12px;
  width: 100px;
}


.container2{
  margin: 0 40px;
  display: flex;
  background: white;
  height: 135px;
  width:600px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
}

.item2 {
  background:black;
  height: 40px;
  width: 220px;
}

.container3{
  margin: 20px 40px;
  display: flex;
  background: white;
  height: 400px;
  width:600px;
  flex-direction: column;
  align-content: flex-start;

  justify-content: flex-end;
}

.item3 {

  background:black;
  height: 400px;
  width: 600px;
}
