<!DOCTYPE html>
<html>
<head>
  <title>Let's Make Whales</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h2>Here We Make Whales</h2>
<a class="whale-gif" href="http://www.animatedimages.org/cat-whales-702.htm"><img src="http://www.animatedimages.org/data/media/702/animated-whale-image-0011.gif" border="0" alt="animated-whale-image-0011"/></a>

<div class="react-app" id="react-app"></div>

<a class="whale-gif-two" href="http://www.animatedimages.org/cat-whales-702.htm"><img src="http://www.animatedimages.org/data/media/702/animated-whale-image-0045.gif" border="0" alt="animated-whale-image-0045"/></a>

<script src="/js/build.js"></script>
</body>
</html>
