html, body {
  padding:0;
  margin: 0;
  /* font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif; */
  font-family: courier;
  background-color: #fafafa;

}

.container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 9%;
}

h1 {
  box-shadow:  -10px 10px 0 3px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  padding:7px;
  padding-right: 10px;
}


li {
  display: inline;
  margin: 8px;
  font-size: 2em;
}

ul {
  box-shadow:  10px 10px 0 3px #000;
   /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  list-style-type: none;
  padding:5px;
  }

article {
  margin: 2em;
  padding: 1em;
  font-size: 1.5em;
  box-shadow:  -10px 10px 0 3px #000;
  text-align: justify;

}

.navButton {
  margin: .25em;
  margin-bottom: .5em;
  padding: 0 .25em;
  font-size: 7em;
  box-shadow:  10px 10px 0 3px #000;
}

footer {
  bottom: 0;
  margin: 0;
  padding: 0;
  margin-bottom:0;
  background-color: black;
  height: 5em;
}
