<p style="text-align:center"> Home page!!!</p>

<form action="/api" method="post">
  <fieldset>
    <legend>Fill in ur info</legend>

    <label for="username">Username: </label>
       <input type="text" id="username" name="username" value="" />

    <label for="password">password: </label>
      <input type="password" id="password" name="password" value="" />
<br/>
 
  </fieldset>    





  <button>Submit</button>
</form>
