
<h1>Demographics</h1>
<form  method="post">

      <label>Name: </label>
      <input id="name" type="text" name="name" val="">

      <label>Age: </label>
      <input id="age" type="number" name="age" val="">

      <label>Race: </label>
      <input id="race" type="text" name="race" val="">

      <label>Gender: </label>
      <input id="gender" type="text" name="gender" val="">

      <label>Eye Color: </label>
      <input id="eyecolor" type="text" name="eyecolor" val="">
         
    <button id="form-send" type="submit">Submit</button>

</form>
