<!DOCTYPE html>
<html>
<head>
  <title>Home page!</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


  <%= yield %>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>
