<h1>Add an event!</h1>

<form action="/api" method="post" accept-charset="utf-8">
  <input type="text" name="date" placeholder= "MM/DD/YY" value="">
  <input type="text" name="band" placeholder="Band" value="">
  <input type="text" name="venue" placeholder="Venue" value="">
  <button type="submit">Submit Event</button>
</form>
