
<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
<!--   <link rel="stylesheet" type="text/css" href="/css/style.css">
 --></head>
<body>

<header>
  <div class="container">
    <div class="col-9">
      <h1><a href="/">PERSON PLACE</a></h1>

      <p>The place where people are</p>
    </div>

    <div class="col-3">
      <nav>
        <ul>
          <li>
            <a href="/fulllisting/">Full Listing</a>
          </li>

          <li>
            <a href="/users/">Users</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main>
