<!--unlike example, I don't need blogs.title. just title works. I was expecting that 'this' would be needed. it works, but isn't needed. -->

<h2>{{title}}</h2>
<main>
  <p> 
    by {{author}} <br/>
    <small>{{publishedOn}}</small>
  </p>

  <p class="mainArticle">
    {{{body}}}
  </p>
</main>

