<form  action="/users" method="post">
  <!-- // the action is where we send post method. to server. -->
  <!--  looks for post method that lives at the '/login/?'' route -->
  Username: <input id="user" type="text" name="username" value="">
  <br>
  Password: <input id="pass" name="password" value="">
  <br>
  Email: <input id="em" type="text" name="email" value="">
  <br>
  Gender: <input id="gend" type="text" name="gender" value="">
  <br>
  <button id="form-send" type="button">Submit</button>
</form>
