<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav>
  <h1><span style="color:#ff0000;">P</span><span style="color:#ff1900;">r</span><span style="color:#ff3300;">i</span><span style="color:#ff4c00;">v</span><span style="color:#ff6600;">a</span><span style="color:#ff7f00;">t</span><span style="color:#ff9f00;">e</span><span style="color:#ffbf00;"> </span><span style="color:#ffdf00;">I</span><span style="color:#ffff00;">n</span><span style="color:#ccff00;">v</span><span style="color:#99ff00;">e</span><span style="color:#66ff00;">s</span><span style="color:#33ff00;">t</span><span style="color:#00ff00;">i</span><span style="color:#00ff40;">g</span><span style="color:#00ff80;">a</span><span style="color:#00ffbf;">t</span><span style="color:#00ffff;">o</span><span style="color:#00ccff;">r</span><span style="color:#0099ff;"> </span><span style="color:#0066ff;">W</span><span style="color:#0033ff;">e</span><span style="color:#0000ff;">b</span><span style="color:#2300ff;">s</span><span style="color:#4600ff;">i</span><span style="color:#6800ff;">t</span><span style="color:#8b00ff;">e</span></h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/suspects">List of suspects</a></li>
    <li><a href="/contact">Contact and location</a></li>
  </ul>
</nav>
