<h1>How do i</h1>

<form action="/api" method="post" accept-charset="utf-8">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="meat" placeholder="meat">
  <input type="text" name="cheese" placeholder="cheese">
  <button type="submit">Submit</button>
</form>
